$darkMuted: #040404;
$mineShaft: #272727;
$masala: #403D3B;
$muted: #5D5D5C;
$gray: #868686;
$sushi: #86B54A;
$vibrant: #86B648;
$naturalGray: #8B8A87;
$dustyGray: #9C9C9C;
$darkVibrant: #BF351F;
$cloud: #C6C1BD;
$dustStorm: #E4CDC9;
$lightVibrant: #E97C62;
$froly: #F0776B;
$scarlet: #F72B0C;
$white: #FFFFFF;
